.user {
  background-color: #ffffff;
  padding: 31px 26px 26px 26px;
  box-shadow: 0px 0px 30px #523f690d;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;

    mat-icon {
      color: #3f4254;
    }
  }

  &__title {
    color: #3f4254;
    font-size: 16px;
  }

  &__control {
    &-label {
      color: #3f4254;
      font-size: 13px;
    }

    &-error {
      font-size: 13px;
      color: #ef7da0;
    }

    &-input-container {
      background-color: #f3f6f9;
      border-radius: 6px;
      overflow: hidden;
      padding: 16px;
      position: relative;

      &.error {
        border: 1px solid #ef7da0 !important;
      }

      &.user-type {
        ::ng-deep {
          .mat-mdc-select {
            font-size: 13px;
            color: #3f4254;
          }
        }
      }

      &.user-email {
        padding-left: 34px;
      }
      mat-icon {
        position: absolute;
        color: #bdbdcb;
        font-size: 16px;
        left: 16px;
        top: 19px;
      }
    }
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__footer {
    gap: 16px;
    display: flex;
    justify-content: space-between;

    &.create {
      justify-content: center;
    }
  }

  &__password {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

input {
  box-sizing: border-box;
  width: 100%;
  font-size: 13px;
  color: #3f4254;
  border: none;
  background-color: transparent;

  &:focus,
  &:focus-visible {
    outline: none;
    border: none;
  }
}
